{{#foreach posts}}
<div class="bit-small">
    <a href="{{url}}">
        <article class="article" style="background-image: url({{image}})">
            <h5 class="article-title">{{{title}}}</h5>
        </article>
    </a>
</div>
{{/foreach}}
